.Backdrop{
  z-index: 50;
  background: rgba(255,255,255, .95);
  position: absolute;
  top: 9vh;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  /*transition: opacity .22s ease-in;*/
}

.shader{
  background: rgba(162, 20, 0, 0.95);
  transition-property: background;
  transition-duration: 9s;
}