.Navbar {
  margin-top: 0;
  position: absolute;
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 100;
}

.NavbarMenu {
  margin-top: 0;
  position: absolute;
  width: 100vw;
  height: 9vh;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 100;
}
.NavbarMenu::before {
  background: url("/img/logoBlack.svg") no-repeat;
  display: block;
  content: ' ';
  background-size: 100%;
  height: 59px;
  width: 219px;
  margin-left: 8vh;
  margin-top: 1vw;
}

@media screen and (max-width: 600px) {
  .NavbarMenu::before {
    max-width: 6.375em;
    margin-top: 7vw;
  }
}