@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('./fonts/bebasneue/bebasneueregular.woff2') format('woff2'), url('./fonts/bebasneue/bebasneueregular.woff') format('woff'), url('./fonts/bebasneue/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'), url('./fonts/museosanscyrl/Museosanscyrl500.woff2') format('woff2'), url('./fonts/museosanscyrl/Museosanscyrl500.woff') format('woff'), url('./fonts/museosanscyrl/Museosanscyrl500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 100 Thin';
  src: url('./fonts/museosanscyrl/MuseoSansCyrl-100.eot');
  src: url('./fonts/museosanscyrl/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
  url('./fonts/museosanscyrl/MuseoSansCyrl-100.woff') format('woff'),
  url('./fonts/museosanscyrl/MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: Museo Sans Cyrl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Bebas Neue;
  font-size: 5em;
  line-height: 90px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 188px;
  margin-bottom: 10px;
}

h2 {
  font-family: Bebas Neue;
  font-size: 3.889em;
  line-height: 70px;
  /*text-align: center;*/
  text-transform: uppercase;
  color: #FF3754;
  margin-top: 80px;
  margin-bottom: 0;
  text-align: left;
}

h3 {
  font-family: Bebas Neue;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #888888;
  margin-top: 0px;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 111px;
}

ul li {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  font-size: 24px;
}

ul li span {
  margin-left: 52px;
}

.home {
  height: 100vh;
}

.header {
  padding-top: 8em;
  width: 100%;
  background: url("/img/00.jpg") no-repeat;
  color: #fff;
  position: absolute;
  height: 960px;
  /*background-size: 100%;*/
}

.headline {
  font-family: Museo Sans Cyrl;
  font-size: 50px;
  line-height: 60px;
  color: #FF3754;
  margin-bottom: 51px;
}

.headline span {
  color: #fff
}

.commercial {
  padding-top: 1px;
  width: 100%;
  background: linear-gradient(180deg, #FDF4F4 0%, #ECF3EC 100%);
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  color: #000;
}

.wrapper {
  margin: 0 auto;
  max-width: 91vw;
  /*height: 100%;*/
  position: relative;
  color: #fff;
}

.navbar {
  margin-top: 1em;
  position: absolute;
  width: 93vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10em;
  color: #fff;
  z-index: 2;
}

.footer {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  align-items: center;
  align-content: center;
}

.footer p {
  font-size: 18px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-elem {
  display: flex;
  margin-right: 56px;
  height: 100%;
  text-align: center;
}

.logo {
  height: 100%;
}

.logo img {
  max-width: 219px;
  height: auto;
}

.flex-column-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-center {
  align-items: center;
}

.flex-self-align-start {
  align-self: flex-start;
}

.main-button {
  max-width: 412px;
  height: 68px;
  background: #FF3754;
  border: 1px solid #FF3754;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 19px;
  color: #fff;
  margin-bottom: 85px;
  font-family: Museo Sans Cyrl;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.155em;
  text-transform: uppercase;
}

.button-small {
  /*max-width: 156px;*/
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: #888888;
  margin-bottom: 24px;
}

.button-small:hover {
  background-color: #FF3754;;
  color: #fff;
  border: none;
}

.img-round {
  border-radius: 50%;
  /*height: 90%;*/
  width: 100%
}

.content {
  margin-left: 96px;
  margin-right: 96px;
}

.ul-content {
  font-family: 'Museo Sans 100 Thin';
  margin-bottom: 31px;
  color: #000;
  font-size: 18px;
  line-height: 160%;
  margin-left: 2px;
}

.ul-content li {
  margin-bottom: 0px;
  font-size: 18px;
}

.ul-content li:before {
  content:  url("./Components/UI/svg/Dot.svg");
  margin-right: 11px;
}

.content__span {
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 40px;
}

.span-main {
  font-size: 36px;
  line-height: 43px;
  background: #FF3754;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
}

p {
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 160%;
  color: #000
}

.card-title {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 13px;
}

.content__p {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Museo Sans 100 Thin';
}

.slider {
  min-height: 0px;
  min-width: 0px;
}

.slider h2 {
  margin-top: 0;
}

.slider .slick-next:before {
  font-family: "Museo Sans Cyrl";
  opacity: 100%;
  font-size: 50px;
  color: #888;
}

.slider .slick-prev:before {
  font-family: "Museo Sans Cyrl";
  opacity: 100%;
  font-size: 50px;
  color: #888;
}

.slider .slick-next {
  top: 89%;
  right: 45%;
}

.slider .slick-prev {
  top: 89%;
  left: 43%;
}

.slider .slick-prev:hover:before {
  color: #FF3754;
}

.slider .slick-next:hover:before {
  color: #FF3754;
}

.slider .slick-slider {
  /*margin-top: 10% !important;*/
}

.slider .slider-paging-number {
  list-style: none;
}
.slider ul {
  text-align: center;
  font-size: 24px;
}
.slider .slider-paging-number li {
  display: none;
  color: #000;
}
.slider .slider-paging-number li.slick-active {
  display: inline-block;
}
.slider .slider-paging-number li button {
  background: none;
  border: none;
}

.flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-justify-center {
  justify-content: center;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  align-items: center;
}

.card-body {
  max-width: 412px
}

.card img {
  /*max-width: 100vw;*/
  max-width: 100%;
  margin-bottom: 18px;
}

.card-img-top {
  max-width: 412px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.button-year {
  margin-right: 10px;
  margin-bottom: 10px;
}



@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    line-height: 160%;
    color: #303030;
    /*margin-bottom: 33px;*/
  }

  h1 {
    font-size: 3.125em;
    line-height: 50px;
    margin-top: 47vw;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 14px;
    padding-top: 42px;
  }
  h3 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 23px;
  }

  ul {
    margin-bottom: 20px;
  }

  .logo img {
    max-width: 6.375em;
  }

  .headline {
    font-size: 20px;
    line-height: 24px;
  }

  .header {
    width: 100vw;
    background-size: cover;
    height: 36vh;
    /*background-size: 100%;*/
  }

  ul li {
    margin-bottom: 2em;
    color: #000;
  }

  .main-button {
    max-width: 100%;
    height: 68px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .img-round {
    width: 50%;
    margin-bottom: 27px;
  }

  .ul-content li {
    margin-bottom: 29px;
  }

}