:root {
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('./fonts/bebasneue/bebasneueregular.woff2') format('woff2'), url('./fonts/bebasneue/bebasneueregular.woff') format('woff'), url('./fonts/bebasneue/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'), url('./fonts/museosanscyrl/Museosanscyrl500.woff2') format('woff2'), url('./fonts/museosanscyrl/Museosanscyrl500.woff') format('woff'), url('./fonts/museosanscyrl/Museosanscyrl500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


body {
  margin: 0;
  font-family: Museo Sans Cyrl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Bebas Neue;
  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  font-family: Bebas Neue;
  font-size: 3.889em;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #FF3754;
  margin-top: 0rem;
  margin-bottom: 0;
  text-align: left;
}

h3 {
  font-family: Bebas Neue;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #888888;
  margin-top: 0px;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

ul li {
  margin-bottom: 2em;
}

.home {
  height: 100vh;
}

.header {
  padding-top: 8em;
  /*height: 100%;*/
  width: 100%;
  background: url("/img/00.jpg") no-repeat;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  color: #fff;
}

.commercial {
  width: 100%;
  background: linear-gradient(180deg, #FDF4F4 0%, #ECF3EC 100%);
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  color: #000;
}

.wrapper {
  margin: 0 auto;
  max-width: 91vw;
  /*height: 100%;*/
}

.navbar {
  margin-top: 1em;
  position: absolute;
  width: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10em;
  color: #fff;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-elem {
  display: flex;
  margin-right: 56px;
  height: 100%;
  text-align: center;
}

.logo {
  height: 100%;
}

.logo img {
  max-width: 11.4vw;
  height: auto;
}

.flex-column-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.main-button {
  max-width: 412px;
  height: 68px;
  background: #FF3754;
  border: 1px solid #FF3754;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 19px;
  color: #fff;
  margin-bottom: 85px;
}

.img-round {
  border-radius: 50%;
  height: 90%;
}

.ul-content {
  list-style-image: url("Components/UI/svg/Dot.svg");
  margin-bottom: 31px;
  padding-left: 21px;
}

.ul-content li {
  margin-bottom: 0.5em;
}

.content__span {
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 40px;
}

p {
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 160%;
}

.content__p {
  margin-top: 0px;
  margin-bottom: 20px;
}

.slider {
  min-height: 0px;
  min-width: 0px;
}

.flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  align-items: center;
}

.card-body {
  max-width: 412px
}

.card-img-top {
  max-width: 412px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}